$padding: 8px;
$margin: 8px;
$white-bg: white;
$white-bg-hover: white + #222;
$red-bg: red;
$red-bg-hover: red + #222;
$green-bg: green;
$green-bg-hover: green + #222;
$blue-bg: blue;
$blue-bg-hover: blue + #222;
$white-color: white;
$white-color-hover: white + #222;
$black-color: black;
$black-color-hover: black + #222;
$green-color: green;
$green-color-hover: green + #222;
$radius: 10px;